.home-page-wrapper {
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
}

.main-info {
  @include flex(row, stretch, space-between);
  flex-wrap: wrap;

  div {
    @include flex(row, center, center);
    background-color: $color-main;
    border-radius: $radius;
    flex-basis: 40%;
    flex-grow: 1;
    flex-wrap: wrap;
    height: 120px;
    margin: 2.5px 2.5px;
    position: relative;

    p {
      color: $color-light;
      flex-grow: 1;
      font-family: $font-header;
      font-size: $base-size * 2;
      margin: 0;
      text-align: center;
      text-transform: uppercase;

      span {
        font-size: 14px;
        font-weight: $font-light;
        margin: 0;
      }
    }

    .main-info--subtitle {
      font-family: $font-text;
      font-size: $base-size;
      left: 0%;
      position: absolute;
      text-transform: none;
      top: 100%;
      width: 100%;
    }
  }

  &__order {
    background-image: url("/images/home/pizza-1.jpg");
    background-size: cover;
    background-position: center;
    cursor: pointer;

    &:hover {
      p {
        transition: all 0.5s;
        transform: translateY(-25px);
      }

      .main-info--subtitle {
        transform: translateY(-50px);
      }
    }
  }

  &__book {
    background-image: url("/images/home/pizza-2.jpg");
    background-size: cover;
    background-position: center;
    cursor: pointer;

    &:hover {
      p {
        transition: all 0.5s;
        transform: translateY(-25px);
      }

      .main-info--subtitle {
        transform: translateY(-50px);
      }
    }
  }
}

// reviews

.carousel-inner {
  height: 240px;
  margin: ($base-size * 6) 2.5px;

  .carousel-item {
    img {
      border-radius: $radius;
      height: 192px;
      margin: 2.5px;
      object-fit: cover;
      width: 192px;
    }

    .carousel-item-description {
      display: inline-block;
      margin: 20px 0 0 40px;
      position: absolute;
      top: 0;

      h2 {
        font-size: 14px;
        font-weight: $font-bold;
      }

      p:last-child {
        font-style: italic;
      }
    }
  }
}

// gallery

.gallery {
  @include flex(row, stretch, space-between);
  flex-wrap: wrap;
  margin: ($base-size * 2) auto;

  > div::before {
    background: black;
    border-radius: $radius;
    content: "";
    display: none;
    height: 100%;
    opacity: 0.6;
    position: absolute;
    width: 100%;
  }

  > div:hover::before {
    display: block;
  }

  > div {
    border-radius: $radius;
    flex-grow: 1;
    height: 192px;
    margin: 4px 4px;
    position: relative;
    width: 192px;

    img {
      border-radius: $radius;
      height: 192px;
      object-fit: cover;
      width: 192px;
    }
  }
}

.image-inner {
  font-size: $base-size * 2;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  i {
    color: $color-light;
    margin: 7px;

    &:hover {
      color: $color-danger;
    }
  }
}

ol.carousel-indicators {
  margin-bottom: 0;

  li {
    background-color: #cdcdcd;
    border-radius: 50%;
    height: 10px;
    margin-right: 12px;
    margin-left: 12px;
    width: 10px;

    &.active {
      background-color: #000000;
    }
  }
}

// Footer

.page-footer {
  a {
    color: $color-main;
    text-decoration: underline;
  }
}
