.home-page-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.main-info {
  @include flex(row, stretch, space-between);
  flex-wrap: wrap;

  div {
    height: 120px;
    margin: 2.5px 2.5px;
    background-color: $color-main;
    flex-grow: 1;
    flex-basis: 40%;
    border-radius: $radius;
    @include flex(row, center, center);

    p {
      color: $color-light;
      font-family: $font-header;
      text-transform: uppercase;
      font-size: $base-size * 2;
      text-align: center;

      span {
        font-size: 14px;
        font-weight: $font-light;
        margin: 0;
      }
    }
  }

  &__order {
    background-image: url("/images/home/pizza-1.jpg");
    background-size: cover;
    background-position: center;
    cursor: pointer;

    &:hover {
      p {
        transition: all 0.5s;
        transform: translateY(-25px);
      }
    }
  }

  &__book {
    background-image: url("/images/home/pizza-2.jpg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
}
